﻿<!doctype html>
<html ng-app="examplePrompt">
<head>
    <meta charset="utf-8">
    <title>rcNgTooltip demo</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="../css/rcNgPrompt.css">

    <style>
        a, button {
            font: 14px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            display: block;
            color: #333;
            margin-bottom: 10px;
        }
    </style>
</head>
<body ng-controller="MainCtrl">

<button type="button" ng-click="prompt()">Open via directive</button>
<button type="button" ng-click="wprompt()">Open via window.prompt</button>
<input type="text" class="ng-pristine ng-valid" value="User">

<script src="../bower_components/angular/angular.js"></script>
<script src="../js/rcNgPrompt.js"></script>
<script>
    var app = angular.module('examplePrompt', ['rcNgPrompt']);

    app.controller('MainCtrl', ['$scope', '$rootScope', '$window', 'rcNgPrompt', '$log', function ($scope, $rootScope, $window, rcNgPrompt, $log) {
        $scope.prompt = function () {

            var result = rcNgPrompt.open({
                data: '{"title": "User", "isAdmin": true, "level": ["A1", "A2", "A3"]}',
                modal: false
            });

            result.promise.then(function (data) {
                $log.log(data);
            }, function (data) {
                $log.log(data);
            });

        }

        $scope.wprompt = function () {
            var value = $window.prompt('Enter value');
            $log.log('Value %s', value);
        }
    }]);

</script>
</body>
</html>
